.note-recommend {
	&-header {
		&-pc {
			margin-top: 3vw;
			margin-bottom: 2vw;
		}
		&-smp {
			margin-top: 8vw;
			margin-bottom: 5vw;
		}
	}
	&-notes {
		margin: 0 auto;
	}
	&-pc {
		width: 75%;
	}
}
