.notes-view-filter {
	height: 1000px;
	width: 80%;
	background-color: #f0f0f0;
	margin: 0 auto;
	border-radius: 30px;
	&-content {
		padding-top: 10%;
		height: 90%;
		width: 80%;
		margin: 0 auto;
	}
}
