.notes-view-filter {
	height: 1000px;
	width: 80%;
	margin: 0 auto;
	background-color: #f0f0f0;
	border-radius: 30px;
	margin-top: 10%;
}

.notes-view-filter-content {
	width: 80%;
	margin: 0 auto;
	padding-top: 15%;
}

// .notes-view-filter-content-list {
// 	&-gender {
// 		margin-top: 10%;
// 	}
// }
